.ul {
    /* list-style-type: none; */
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 5;
    padding: 0;
  }
  
  .li {
    float: left;
    list-style-type: none;
  }
  
  .link {
    /* display: block; */
    padding: 12px 24px;
    background-color: #dddddd;
  }